#team1_chat {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;

  width: 300px;

  background-color: white;
}

#team2_chat {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;

  width: 300px;

  background-color: white;
}

.chat-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;

  color: #fff;
}

#team1_chat .chat-header {
  background: linear-gradient(
    240deg,
    var(--red) 0%,
    var(--red) 33%,
    var(--dark-red) 66%,
    var(--dark-red) 100%
  );
}
#team2_chat .chat-header {
  background: linear-gradient(
    120deg,
    var(--blue) 0%,
    var(--blue) 33%,
    var(--dark-blue) 66%,
    var(--dark-blue) 100%
  );
}

.chat-container {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 40px;
}

#team1_chat .chat-container {
  background-color: var(--red);
}

#team2_chat .chat-container {
  background-color: var(--blue);
}

.chat-line {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  padding: 5px 5px;
}

.chat-line__left {
  min-width: 50px;

  font-family: "Black Han Sans", sans-serif;
}

.chat-line__left .nickname {
  font-weight: bold;
  font-size: 16px;

  color: white;
}

.chat-line__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 70%;
}

p.message {
  border-radius: 5px;
  max-width: 100%;
  width: max-content;
  margin: 0px;
  padding: 5px 5px;

  font-family: "Black Han Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;

  color: rgb(40, 40, 40);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

.user-thumbnail {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.chat-input {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  background-color: #fff;
}

.chat-message-input {
  width: 100%;
  height: 100%;
}

.chat-message-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 10px;

  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;

  outline: none;
  border: none;

  vertical-align: middle;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
