.main-functions {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: 120px;
  margin: 50px 0px;
}

.main-functions a {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  width: 240px;
  height: 100%;

  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
  text-align: center;

  color: #000;
  background: linear-gradient(240deg, #3c3c3c 0%, #848484 100%);

  text-decoration: none;
}

.red-box.active {
  background: linear-gradient(240deg, var(--dark-red) 0%, var(--red) 100%);
}

.blue-box.active {
  background: linear-gradient(120deg, var(--dark-blue) 0%, var(--blue) 100%);
}
.purple-box.active {
  background: linear-gradient(
    120deg,
    var(--dark-purple) 0%,
    var(--purple) 100%
  );
}

.kakao-box.active {
  min-width: 600px;

  color: var(--kakao-brown);
  background: linear-gradient(
    180deg,
    var(--kakao-yellow) 0%,
    var(--kakao-dark-yellow) 100%
  );
}
