.timetable-container {
  text-align: center;
}
.timetable-content {
  width: fit-content;
  margin: auto;
}
.timetable-content__li {
  display: flex;
  height: 43px;
  line-height: 43px;
  margin-bottom: 46px;
}
.timetable-content__li__time {
  font-size: 28px;
  font-weight: 300;
  width: 185px;
}
.timetable-content__li__title {
  font-size: 36px;
  font-weight: 700;
  width: 294px;
  text-align: left;
}
.timetable-content__li__actions {
}

.timetable-content__li button {
  height: 33px;
  line-height: 33px;
  font-size: 18px;
}
.match-results {
  width: 123px;
  background: #29abe2;
}
.participate-match {
  width: 123px;
  background: #39b54a;
}
.live-broadcast {
  width: 90px;
  background: rgba(255, 0, 0, 0.7);
}
