.supporters {
  box-sizing: border-box;
  border-radius: 10px;
  width: 650px;
  padding: 45px 40px;

  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.supporters.team1 {
  background: linear-gradient(180deg, var(--red) 0%, var(--dark-red) 100%);
}
.supporters.team2 {
  background: linear-gradient(180deg, var(--blue) 0%, var(--dark-blue) 100%);
}

.cheer_message {
  display: flex;

  width: 100%;
  margin-bottom: 5px;
}

.user_thumbnail {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.supporter_name {
  overflow: hidden;

  width: 70px;
  margin-left: 10px;

  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  text-align: center;

  color: #fff;

  text-overflow: ellipsis;
}

.supporter_message_container {
  display: flex;

  max-width: 430px;
  margin-left: 10px;
}

p.supporter_message {
  border-radius: 5px;
  max-width: 100%;
  width: max-content;
  margin: 0px;
  padding: 5px 5px;

  font-family: "Black Han Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;

  color: rgb(40, 40, 40);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
}
