{% if not MEP_of_user %}
<div class="team{{team.number}}_votes">
    {% for player in team.players_in_order %}
    <a class="vote shadow MEP_vote" href="{% url 'vote_MEP_player' player.pk %}">MEP</a>
    {% endfor %}
</div>
{% else %}
<div class="team{{team.number}}_votes">
    {% for player in team.players_in_order %}
        {% if player == MEP_of_user %}
        <div class="vote picked shadow">PICK</div>
        {% else %}
        <div class="vote voted shadow">MEP</div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}