{% extends "base_with_banner.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock css%}
{% block content %}
<div class="main-content-container">
    <div class="container timetable-container">
        <ul class="timetable-content">
            {% for competition in competitions %}
            <li class="timetable-content__li">
                <span class="timetable-content__li__time">{{competition.time_string}}</span>
                <div class="timetable-content__li__title">{{competition.name}}</div>
                <div class="timetable-content__li__actions">
                {% if competition.joinable %}
                <button class="participate-match" onclick="window.location='{% url 'competition:match' competition.pk %}'">경기 참가하기</button>
                {% else %}
                <button class="match-results" onclick="window.location='{% url 'competition:match' competition.pk %}'">결과 보러가기</button>
                {% endif %}
                {% if competition.real_time %}
                <button class="live-broadcast" onclick="window.location='{% url 'competition:real_time' %}'">• 실시간</button>
                {% endif %}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
</div>
{% endblock content %}
{% block inline_javascript %}
{% endblock inline_javascript %}
