{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/chat.css' %}" rel="stylesheet" />
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock css%}
{% block content %}
{% include "modules/team_chat.html" %}
<div class="main-content-container">
    {% if setting.youtube %}
    <iframe style='aspect-ratio: 16 / 9;' width="100%" src="https://www.youtube.com/embed/C1x8qXsxsjk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
    {% if setting.twitch %}
    <iframe src="https://player.twitch.tv/?channel=mjthepollo&parent=minbungs.site" frameborder="0" allowfullscreen="true" scrolling="no" width="100%" style='aspect-ratio: 16 / 9;'></iframe>
    {% endif %}
</div>
{% endblock content %}
{% block inline_javascript %}
{% endblock inline_javascript %}
