{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    <link href="{% static 'css/quiz_detail.css' %}" rel="stylesheet" />
    <title>QUIZ DETAIL</title>
  </head>
  <body>
    <a href="{% url 'quiz:list' %}"><h1>QUIZ LIST</h1></a>
    <form method="POST">
        {% csrf_token %}
        {{solve_form.as_div}}
        <button >확인</button>
    </form>
    <h1>문제 {{quiz.name}} [{{quiz.genre}}] ({{quiz.point}})</h1>
    <p>{{quiz.description|linebreaksbr}}</p>
    {% if quiz.description_image %}
    <img src="{{quiz.description_image.url}}">
    {% endif %}
    <h1>정답</h1>
    <p>{{quiz.answer|linebreaksbr}}</p>
    {% if quiz.answer_image %}
    <img src="{{quiz.answer_image.url}}">
    {% endif %}
  </body>
</html>
