<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대회 시간표 페이지</title>
  <link rel="stylesheet" href="style/index.css" />
  <link rel="stylesheet" href="style/timetable-page.css" />
</head>
<body>
  <div class="top-banner">피카츄 배구 실시간 보러가기 <span>Click!</span></div>
  <div class="container timetable-container">
    <img class="olympic-logo" src="assets/olympic.png"/>
    <ul class="timetable-content">
      <li class="timetable-content__li">
        <span class="timetable-content__li__time">10:00 ~ 12:00</span>
        <div class="timetable-content__li__title">FIFA ONLINE 4</div>
        <div class="timetable-content__li__actions">
          <button class="match-results">결과 보러가기</button>
        </div>
      </li>
      <li class="timetable-content__li">
        <span class="timetable-content__li__time">10:00 ~ 12:00</span>
        <div class="timetable-content__li__title">오목</div>
        <div class="timetable-content__li__actions">
          <button class="match-results">결과 보러가기</button>
        </div>
      </li>
      <li class="timetable-content__li">
        <span class="timetable-content__li__time">10:00 ~ 12:00</span>
        <div class="timetable-content__li__title">피카츄 배구</div>
        <div class="timetable-content__li__actions">
          <button class="participate-match">경기 참가하기</button>
          <button class="live-broadcast">• 실시간</button>
        </div>
      </li>
      <li class="timetable-content__li">
        <span class="timetable-content__li__time">10:00 ~ 12:00</span>
        <div class="timetable-content__li__title">퀴즈 대회</div>
        <div class="timetable-content__li__actions">
          <button class="participate-match">경기 참가하기</button>
        </div>
      </li>
      <li class="timetable-content__li">
        <span class="timetable-content__li__time">10:00 ~ 12:00</span>
        <div class="timetable-content__li__title">폴 가이즈</div>
        <div class="timetable-content__li__actions">
          <button class="participate-match">경기 참가하기</button>
        </div>
      </li>
      <li class="timetable-content__li">
        <span class="timetable-content__li__time">10:00 ~ 12:00</span>
        <div class="timetable-content__li__title">스타크래프트</div>
        <div class="timetable-content__li__actions">
          <button class="participate-match">경기 참가하기</button>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
