{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    <link href="{% static 'css/team_chat.css' %}" rel="stylesheet" />
    <title>TwitchChat</title>
  </head>
  <body>
    <iframe id="chat_embed" src="https://www.twitch.tv/embed/mjthepollo/chat?parent=minbungs.site" height="500" width="350"></iframe>
  </body>
  <script type="text/javascript"></script>
</html>
